%title-120 {
  font-family: $font-neue-montreal;
  font-size: 12rem;
  letter-spacing: 0.1rem;
  line-height: 1;
}

%title-160 {
  font-family: $font-neue-montreal;
  font-size: 16rem;
  letter-spacing: 0.1rem;
  line-height: 1;
}

%text-16 {
  font-family: $font-neue-montreal;
  font-size: 1.6rem;
  line-height: 1;
}

%text-20 {
  font-family: $font-neue-montreal;
  font-size: 2rem;
  line-height: 1;
}

%text-24 {
  font-family: $font-neue-montreal;
  font-size: 2.4rem;
  letter-spacing: 0.1rem;
  line-height: 1;
}

%text-32 {
  font-family: $font-neue-montreal;
  font-size: 3.2rem;
  line-height: 1.1;
}
