$color-black: #000;
$color-white: #fff;
$color-green: #2baf50;

$font-neue-montreal: "PP Neue Montreal", sans-serif;

$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

$z-indexes: ("noscript", "preloader", "navigation", "canvas", "content");
