.home__gallery {
  height: 80rem;
  margin: 20rem 0;
  overflow: hidden;
  pointer-events: none;
  position: relative;

  &__wrapper {
    align-items: center;
    display: flex;
    // left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%); // half of the image width + padding
    overflow: hidden;
  }

  &__media {
    position: relative;
    height: 63rem;
    position: relative;

    visibility: hidden;

    width: 44.7rem;
    border-radius: 1.6rem;
    margin: 0 8rem;

    &__image {
      @extend %cover;

      object-fit: cover;
    }

    &__description {
      position: absolute;
      bottom: 0;
      left: 0%;
      padding: 1.5rem 0;
      &__subtitle {
        @extend %text-16;
        font-weight: 400;
      }

      &__title {
        @extend %text-24;
        font-weight: 500;
        letter-spacing: 0rem;
        margin-top: 1rem;
      }
    }
  }
}
